body,html {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Asap', sans-serif;   
  }

 .menu{
    background-color: #6b6b6b3b;
    height: 55px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 50px;
    
 }

 .name{
     position: absolute;
     left: 130px;
     font-size: 40px;
     height: 55px;
     bottom: 35px;
 }
    
 .firstBlock {
    background-color:  #D9D9D9;
    height: 674px;
    padding: 0;
    margin: 0;}

 .photovideo{
  display: flex;
  position: relative;
  border: 1px solid #000000;
  height: 442px;
  width: 677px;
  left: 800px;
  bottom: 280px;
 }
 .info,.more,.gallery,.reviews,.contact{
 margin: 0;
 padding: 0;
 display: flex;
 position: relative;
 margin-right: 30px;
 vertical-align: text-top;
 justify-content: end;
 align-items:flex-start;

 font-family: 'Inter';
 font-style: normal;

 font-size: 25px;
 }

 .info{
     right: 630px;
     bottom: 12px;
 }

 .more{
    right: 420px;
    bottom: 90px;
 }
    
 .gallery{
    right: 280px;
    bottom: 167px;
 }
 
 .reviews{
    right: 155px;
    bottom: 245px;
 }
 
 
 .contact{
    right:10px;
    bottom: 323px;
 }

 

 .cap{
  display: inline-block;
  top: 90px;
  position: absolute;

 }

 .slogan{
 font-size: 40px;
 height: 159px;
 text-align: center;
 margin: 0px;
 position: absolute;
 display: inline-block;
 width: 438px;
 left: 125px;

 }


.buttom{
    background-color: #FF5520;
    width: 292px;
    height: 68px ;
    position: absolute;
    display: flex;
    left: 200px;
    top: 210px;
    border: 1px solid #000000;
    
}

.furstbuy{
    display: flex;
    justify-content: center;
    text-align: center;
    left: 95px;
    margin: 0px;
    position: relative;
    top: 5px;
    font-size: 40px;
    font-family: 'Inter';
}

.firstbuy{
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 0;

}
.info1{
 position: absolute;
 top: 250px;
 font-size: 24px;
 text-align: center;
 display: inline-block;
 width: 291px;
 top: 295px;
 left: 70px;
}

.info2{
 position: absolute;
 top: 250px;
 font-size: 24px;
 text-align: center;
 display: inline-block;
 width: 291px;
 left: 325px;
 top: 295px;
 font-weight: lighter;
}

.aboutUs{
 position:relative;
 top: 650px;
 background-color: #ffffff
;}

.left{
    display: block;
    position: relative;
    width: 778px;
}
.whywe{ 
    position: absolute;
    display: inline-block;
    font-size: 36px;
    left: 40px;
}
.firstreson{
    position: absolute;
    display: inline-block;
    font-size: 24px;
    background-color: #F4F4F4 ;
    height: 158px;
    width: 677px;
    top: 180px;
    text-align: center;
    left: 40px;
}

.secondreson{
 position: absolute;
 display: inline-block;
 font-size: 24px;
 background-color: #F4F4F4;
 height: 158px;
 width: 677px;
 top: 395px;
 text-align: center;
 left: 40px;
}

.line{
 position: absolute;
 left: 800px;
 top: 18px;
}
.right{
 position: relative;
 left: 720px;
 width: 656px;
 margin: 0px;
}
.titleone{
 position: absolute;
 display: inline-block;
 font-size: 24px;
 top: 20px;
 left: 369px;
 text-align: center;
 
}

.photoone{
    position: relative;
    top: 95px;
    left: 158px;
    
}

.textone{
 position: absolute;
 display: inline-block;
 font-size: 24px;
 left: 370px;
 width: 316px;
 height: 157px;
 bottom: 130px;
 top:90px;
 text-align: center;
 font-family: 'Inter';
   font-style: normal;

}
.titletwo{
    position: absolute;
    display: inline-block;
    font-size: 24px;
    top: 309px;
    left: 387px;

}

.phototwo{
 position: relative;
 top: 200px;
 left: 158px;
}

.texttwo{
    position: absolute;
   display: inline-block;
    font-size: 24px;
    left: 370px;
    width: 316px;
    height: 157px;
    bottom: -180px; 
    

    font-family: 'Inter';
   font-style: normal;
   text-align: center;
}

 .buy{
    background-color: #FF5520;
    position: relative;
    height: 76px ;
    width: 312px;
    top: 144px;
    left: 55px;
    text-align: center;
    color: #ffffff;
    font-size: 34px;
    border: 1px solid #000000;
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.25);
 }


 .price{
    background-color: #D9D9D9;
    height: 1556px;
    top: 980px;
    position: relative;
  }

  .oneposition{
      height: 687px;
      width: 422px;
      position: absolute;
      display: block;
      left: 60px;
      background-color: #ffffff;
      outline-color: #313131;
      top: 80px;
  }
  
  .oneposition2{
    height: 687px;
    width: 422px;
    position: absolute;
    display: block;
    left: 520px;
    background-color: #ffffff;
    outline-color: #313131;
    top: 80px;
}

.oneposition3{
    height: 687px;
    width: 422px;
    position: absolute;
    display: block;
    left: 980px;
    background-color: #ffffff;
    outline-color: #313131;
    top: 80px;
}

.oneposition4{
    display: flex;
    height: 687px;
    width: 422px;
    position: absolute;
    display: block;
    left: 60px;
    background-color: #ffffff;
    outline-color: #313131;
    top: 805px;
}

.oneposition5{
    height: 687px;
    width: 422px;
    position: absolute;
    display: block;
    left: 520px;
    background-color: #ffffff;
    outline-color: #313131;
    top: 805px;
}

.oneposition6{
    height: 687px;
    width: 422px;
    position: absolute;
    display: block;
    left: 980px;
    background-color: #ffffff;
    outline-color: #313131;
    top: 805px;
}


  .basket{
      position: relative;
      left: 115px;
      top: 174px;
      height: 58px ;
      width: 177px;
      font-size: 25px;
      border: 1px solid #000000;
  }
  .photolat{
      position: relative;
      left: 55px;
      top: 55px;
  }
 
  .cost{
 position: relative;
 left: 113px;
 top: 125px;
 font-size: 40px;
 height: 69px;
 width: 167px;
 outline-width: 3px;
 background-color: #ffffff;

 border: 6px solid #3D180D;
 border-radius: 7px;
 display: flex;
 align-items: center;
  }

  .chena{
    position: relative;
    left: 18px;
  }

  
  .chena1{
    position: relative;
    left: 25px;
  }

  .buyf{
      position: relative;
      bottom: 15px;
     
  }

  .korzina{
      position: relative;
      left: 30px;
      bottom: 10px;
  }
 .model{
 position: absolute;
 display: inline-block;
 height: 44px;
 width: 268px;
 text-align: center;
 top: 330px;
 font-size: 25px;
 left: 70px;
 }

 .gueshion{
     background-color: #ffffff;
     height: 418px;
     
     display: flex;
     position: relative;
     top: 1000px;
     margin: 0px;
 }

 .bigtitle{
    position: absolute;
 left: 450px;
    font-family: 'Inter';
    font-style: normal;
    
    font-size: 40px;
    text-align: center;
    
 }
 .praise{
    position: absolute;
    
    left: 380px;
    top: 150px;
    
    font-family: 'Inter';
    
    font-size: 32px;
    
    text-align: center;
 }

  .buttumbid{
    background-color: #FF5520;
    position: relative;
 width: 584px;
 height: 56px;
 left: 73px;
 top: 300px;
 border: 1px solid #A05F4C;
 box-shadow: 11px 8px 4px rgba(0, 0, 0, 0.4);

 font-family: 'Inter';
 font-style: normal;
  font-weight: 400;
 font-size: 32px;
 text-align: center;
  }
  .sad{
      margin: 0px;
      position: relative;
      top: 7px;
  }


  .sad2{
    margin: 0px;
    position: relative;
    top: 7px;
    left: 10px;
}


  .phoneNumber1{
      background-color: #D9D9D9;
      display: flex;
      position: relative;
      width: 418px;
      height: 54px;
      left:360px;
      top: 300px;
      font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 32px;
      line-height: 39px;
     text-align: center;

      
  }

  .photos{
      height: 554px;
      background-color: #D9D9D9;
      display: flex;
      position: relative;
      top: 1000px;
  }
  
  .pinguinone{
    display: flex;
    position: relative;
    align-items: center;
      justify-content: center;
      margin-left: 135px;
      margin-right: 15px;
    }

  .pinguintwo{
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      margin-left: 35px;
      margin-right: 15px;
      
  }

  .pinguinthree{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    margin-right: 15px;
    }

 .footer{
    background-color: #A9A0A0;
    height: 55px;
    padding: 0px;
    margin: 0;
    position: relative;
     top: 980px;
     padding: 0%;
 }
 .mail{
    position: absolute;
    width: 447px;
    height: 42px;
    left: 363px;
    bottom: 35px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    
    color: #000000;
 }

 .phone{
    position: absolute;
    width: 376px;
    height: 46px;
    left: -24px;
    bottom: 30px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    
    color: #000000;
    
    
 }